<html>
    <head>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {
                var rideType = '{{ rideType }}';
                var dropoffLat = {{ dropoffLat }};
                var dropoffLong = {{ dropoffLong }};

                // window.location.href = 'lyft://ridetype?id='+rideType+'&destination[latitude]='+dropoffLat+'&destination[longitude]='+dropoffLong;
                window.location.href = 'lyft://';
            });
        </script>
    </body>
</html>