<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Jarvis Scheduler</title>
    <link rel="stylesheet" type"text/css" href="{{ url_for('static',filename='style.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Scheduled Events</h2>

        {% for e in events %}
        <div class="row">
            <span class="event_info">
                {{e.id}} --- Type: 
                {% if e.trigger_enum == 1 %}
                    Morning Info Card
                {% elif e.trigger_enum == 2 %}
                    Morning Lyft
                {% elif e.trigger_enum == 3 %}
                    Afternoon Lyft
                {% elif e.trigger_enum == 4 %}
                    Calendar Event Reminder
                {% else %}
                    Unknown Type
                {% endif %}

                | Facebook ID: {{ e.facebook_id }} | <strong>
                (
                    Scheduled for: {{ e.send_timestamp.hour }}:{% if (e.send_timestamp.minute|string|length) < 2 %}{{ e.send_timestamp.minute }}0{% else %}{{ e.send_timestamp.minute }}{% endif %}
                )</strong>
            </span>
            <div data-id='{{ e.id }}' class="trigger">Trigger</div><hr>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $('.trigger').click(function() {
            var eventId = $(this).data('id');
            console.log(eventId)
            $.ajax({
                url: '/scheduler_trigger/' + eventId,
                type: 'GET'
            });
        });
    </script>
    
</body>
</html>